<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<style>
    .login-container {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .login-header {
        text-align: center;
        margin-bottom: 20px;
    }
    .row {
        margin-bottom: 0px;
    }
</style>
<body>
<div class="container">
    <div class="login-container">
        <h5 class="login-header">회원가입</h5>
<!--        <form id="registerForm" class="row" style="gap: 1em;" method="post" action="/register">-->
            <div class="row">
                <div class="input-field col s3">
                    <label for="id">ID입력</label>
                </div>
                <div class="input-field col s9">
                    <input id="id" name="id" type="text" placeholder=" " maxlength="20" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <label for="password">PW입력</label>
                </div>
                <div class="input-field col s9">
                    <input id="password" name="password" type="password" placeholder=" " maxlength="20" required>
                </div>
            </div>
            <div class="right-align col s12">
<!--                <button type="submit" class="waves-effect waves-light btn-large">회원가입</button>-->
<!--                <a href="/" class="waves-effect waves-light btn-large">취소</a>-->
            </div>
    </div>
</div>
</body>
</html>
